<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dalton.braillekeyboard"
    android:versionCode="55"
    android:versionName="3.0-2" >

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="34" />
    <!-- Required for targetSdk 30+: discover TTS engines (package visibility). -->
    <queries>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
    </queries>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <application
        tools:replace="android:icon"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.dalton.braillekeyboard.MainActivity"
            android:label="@string/app_name"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PreferenceIME" android:label="@string/settings_name" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity android:name=".IntentActivity" android:label="" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <service android:name="com.dalton.braillekeyboard.BrailleIME"
            android:label="@string/braille_ime"
            android:permission="android.permission.BIND_INPUT_METHOD"
            android:exported="true" >
            <meta-data android:name="android.view.im" android:resource="@xml/method"/>
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>            
        </service>
        <service android:enabled="true" android:name="com.googlecode.eyesfree.braille.service.translate.TranslatorService" android:exported="true">
            <intent-filter>
                <action android:name="com.googlecode.eyesfree.braille.service.ACTION_TRANSLATOR_SERVICE" />
            </intent-filter>
        </service>
    </application>
</manifest>
